.full-height{
    height: 103vh;
    position: relative;
    padding: 2rem;
}

#urban{
    background-image: url(../images/urban-xl.jpg);
    @include header-background;
}

#nature {
    background-image: url(../images/nature-xl.jpg);
    @include header-background;
    background-position-x: 50%;
}

#friends {
    background-image: url(../images/friends-xl.jpg);
    @include header-background;
    background-position-x: 80%;
}

#social {
    background-image: url(../images/social-xl.jpg);
    @include header-background;
    background-position-x: 38%;
}

.header-backgrounds-title{
    text-align: center;
    position: relative;
    top: 40%;
    font-size: 6rem;
    font-weight: 900;
    color: rgba(255,255,255,0.4);
    @media screen and (min-width: 600px){
        top: 38%;
        font-size: 7.5rem;
    }
    @media screen and (min-width: 800px) {
        top: 37%;
        font-size: 8.5rem;
    }
    @media screen and (min-width: 1000px) {
        font-size: 10rem;
    }
}

nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    span{
        font-weight: 900;
        color: $white-font;
        font-size: 1.5rem
    }
    #hamburger-menu{
        cursor: pointer;
        width: 30px;
        height: 3.5px;
        background-color: $white-font;
        z-index: 2;
        position: absolute;
        top:8px;
        right: 0;
        &::before{
            content: '';
            width: 22px;
            height: 3.5px;
            position: absolute;
            top:8px;
            background-color: $white-font;
        }
        &::after {
            content: '';
            width: 22px;
            height: 3.5px;
            position: absolute;
            bottom: 8px;
            background-color: $white-font;
        }
        @media screen and (min-width: 1101px){
            display: none;
        }
    }
    ul{
        display: flex;
        li{
            cursor: pointer;
            margin-right: 1.5rem;
            font-size: .95rem;

            &:last-of-type {
                margin-right: 0;
            }
            a {
                color: $white-font;
                text-decoration: none;

                &:hover {
                    color: $primary-color;
                    text-decoration: none;
                }
            }
        }
        @media screen and (max-width: 1100px){
            display: none;
        }
    }
}






