.full-height{
    height: 103vh;
}

#urban{
    @include responsive-background(urban);
    @include header-background;
    position: relative;
    left: 0;
    transition: .3s linear;
}

#nature {
    @include responsive-background(nature);
    @include header-background;
    background-position-x: 50%;
}

#friends {
    @include responsive-background(friends);
    @include header-background;
    background-position-x: 80%;
}

#social {
    @include responsive-background(social);
    @include header-background;
    background-position-x: 38%;
}