#testimonials-wrapper{
    background-color: rgb(24, 24, 24);
}

#testimonials{
    position: relative;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5rem;
    @media screen and (max-width: 900px) {
        padding: 5rem 1rem;
    }
}

.background-text{
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    color: rgb(44, 44, 44);
    @media screen and(max-width:1200px){
        font-size: 8rem;
    }
    @media screen and(max-width:1000px) {
        font-size: 7rem;
    }
    @media screen and(max-width:900px) {
        font-size: 6rem;
    }
    @media screen and(max-width:700px) {
        font-size: 5rem;
    }
    @media screen and(max-width:600px) {
        font-size: 4.3rem;
    }
    @media screen and(max-width:500px) {
        font-size: 3.5rem;
    }
    @media screen and(max-width:400px) {
        font-size: 3rem;
    }
    @media screen and(max-width:342px) {
        font-size: 2.2rem;
    }
}

.glide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}

.testimonials-slider-slide{
    width: 600px;
    height: 350px;
    position: relative;
    background-color: $white-font   ;
    box-shadow:rgba(24, 24, 24,0.2) 0 0 10px 10px ;
}
//CONTROL BUTTONS
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: $primary-color;
    border-radius: 50px;
    margin-top: -20px;
    border: none;
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: -30px;
}

.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: -30px;
}

.prev:active,
.next:active {
    transform: scale(.8);
}

