// #testimonials-wrapper{
//     background-color: rgb(24, 24, 24);
// }

#testimonials{
    position: relative;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5rem;
    @media screen and (max-width: 900px) {
        padding: 5rem 1rem;
    }
}

.background-text{
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    color: $lighter-grey;
    margin: 1rem;
    @media screen and(max-width:1200px){
        font-size: 8rem;
    }
    @media screen and(max-width:1000px) {
        font-size: 7rem;
    }
    @media screen and(max-width:900px) {
        font-size: 6rem;
    }
    @media screen and(max-width:700px) {
        font-size: 5rem;
    }
    @media screen and(max-width:600px) {
        font-size: 4.3rem;
    }
    @media screen and(max-width:500px) {
        font-size: 3.5rem;
    }
    @media screen and(max-width:420px) {
        font-size: 3rem;
    }
    @media screen and(max-width:361px) {
        font-size: 2.2rem;
    }
    @media screen and(max-width:280px) {
        font-size: 1.8rem;
    }
}

.glide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: .2rem;
}



