#testimonials-wrapper{
    background-color: rgb(24, 24, 24);
}

#testimonials{
    position: relative;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 5rem;
    @media screen and (max-width: 900px) {
        padding: 5rem 1rem;
    }
}

.background-text{
    font-size: 10rem;
    font-weight: 900;
    text-align: center;
    color: rgb(44, 44, 44);
    margin: 1rem;
    @media screen and(max-width:1200px){
        font-size: 8rem;
    }
    @media screen and(max-width:1000px) {
        font-size: 7rem;
    }
    @media screen and(max-width:900px) {
        font-size: 6rem;
    }
    @media screen and(max-width:700px) {
        font-size: 5rem;
    }
    @media screen and(max-width:600px) {
        font-size: 4.3rem;
    }
    @media screen and(max-width:500px) {
        font-size: 3.5rem;
    }
    @media screen and(max-width:420px) {
        font-size: 3rem;
    }
    @media screen and(max-width:361px) {
        font-size: 2.2rem;
    }
    @media screen and(max-width:280px) {
        font-size: 1.8rem;
    }
}

.glide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding-bottom: .2rem;
}

.testimonial{
    width: 600px;
    position: relative;
    padding: 3rem;
    color: $white-font;
    background-color: rgb(39, 39, 39);
    color: white;
    &__profile{
        display: flex;
        margin: 1.5rem 0;

        &__image{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
        &__name{
            margin-left: 1.2rem;
            position: relative;
            top: 20px;
            &__real{
                font-size: 1.6rem;
                font-weight: 800;
                color: $primary-color;
                @media screen and (max-width: 320px){
                    font-size: 1.2rem;
                }
            }
            &__nick{
                font-size: 1.1rem;
                font-weight: 400;
                margin-top: .6rem;
                @media screen and (max-width: 320px) {
                    font-size: .9rem;
                }
            }
        }
    }
    &__description{
        font-size: 1.4rem;
        line-height: 1.3;
        font-weight: 300;
        text-align: justify;
        @media screen and (max-width: 900px) {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-width: 800px) {
        padding: 1rem;
    }
}


//CONTROL BUTTONS
.control {
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    background: $primary-color;
    border-radius: 50px;
    margin-top: -20px;
    border: none;
    @media screen and (max-width: 900px) {
        display: none;
    }
}

.prev,
.next {
    background-size: 22px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.prev {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronLeft-512.png);
    left: -60px;
}

.next {
    background-image: url(https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronRight-512.png);
    right: -60px;
}

.prev:active,
.next:active {
    transform: scale(.8);
}

